// SV Plume fonts

$base-font-family: 'Catamaran', sans-serif;
$base-font-weight: 300 !default;
// $base-font-family: 'Jura', sans-serif;
// $base-font-weight: 400 !default;
$base-font-size:   16px !default;
